<%= form_for message, remote: true, authenticity_token: true do |f| %>
  <%= f.label :your_message %>:
  <%= f.text_area :text, class: "form-control", data: {text: "message"} %>

  <%= f.hidden_field :chatroom_id, value: @chatroom.id %>
  <div><%= @chatroom.id %></div>
  <%= f.submit "send", class: "btn btn-primary", data: {send: "message"} %>
<% end %>
